apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: my-grafana
  namespace: my-grafana
spec:
  host: {{ .Values.nameOverride }}.{{ .Values.subdomain }}
  port:
    targetPort: 3000
  tls:
    termination: edge
  to:
    kind: Service
    name: grafana-service
    weight: 100
  wildcardPolicy: None
