apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: AppMonitoring
  namespace: external-service
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: monitoring-edit
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: developer
